@font-face {
    font-family: 'courier_newregular';
    src: url('fonts/courier_1-webfont.woff2') format('woff2'),
         url('fonts/courier_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'courier_newbold';
    src: url('fonts/courier_3-webfont.woff2') format('woff2'),
         url('fonts/courier_3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
  overflow: hidden;
}

#cosmos{
  box-shadow: 0 0 3vw rgba(0,0,0,0.5) inset;
  width: 100vw; height: 100vh;
  position: absolute; top: 0px; left: 0px;
  pointer-events: none;
}
#universe {
  background-color: rgb(230,230,230);
  display: block;
  width: 100%;

}
.grid{
  z-index: -100;
}
.comment{
  width:100%;
  left: 200px;
}
.input_fields_wrap{
  width: 30px;
  border: 1px solid black;
  left: 100px;
  position: absolute;
cursor: move;
}
#addButton{
  z-index: 10;
  position: fixed;
  top: 30px;
  left: 00px;
  width: 30px;
  height: 30px;
  background-color: blue;
}

#responcebox{
  top: 50vh;
  left: 10vw;
  display: inline-block;
  z-index: 100;
  position: absolute;
}

#testdiv{
  width: 20px;
  height: 20px;
  position: relative;
  top: 20px;
  left: 20px;
  z-index: 100;
  background-color: blue;
}
.main_input{
  width: 120px;
  height: auto;
  position: absolute;
  border: 5px solid black;
  z-index: 100;
  top: -50px;


}
.input_fields_wrap{
  width: 150px;
  height: auto;
  position: absolute;
  z-index: 100;
  top: 250px;
  left: 350px;
  display: none;
}


.topmenu{
  font-family: courier_newbold;
  color: black;
  font-size: 2rem;
  position: fixed;
  top: 1vh;
  left: 2vw;
  z-index: 150;

}

.AnswerBox{
  width: auto;
  height: auto;
  position: absolute;
  top: 10vh;
  left: 45vw;
  z-index: 250;

  background-color: white;
  border:5px solid black;

}

.texfield{
  border: none;
}

.gubbox{
  bottom: 2vh;
  left: 2vw;
  right: 2vw;
  height: 20vh;
  border: 5px solid red;
  position: absolute;
  z-index: 50;
  background-color: rgba(0, 0, 255, 0.5);
  pointer-events: none;
  box-shadow: 3px 3px 20px rgba(255,0,0,.3);
}

.gubbe{
  height: 70%;

  top:10%;
display: inline-block;
position: relative;
pointer-events: auto;
}

.abgubbe{
  height: 15%;
  top:75%;
  left:90%;
display: none;
position: absolute;
pointer-events: auto;
cursor: pointer;
}
.agubbe{
  height: 5%;

display: inline-block;
position: absolute;
pointer-events: auto;
}
.bgubbe{
  height: 15%;
top:35%;
left:52%;

}
.cgubbe{
  height: 12%;
top:55%;
left:38%;

}
.dgubbe{
  height: 25%;
top:45%;
left:27%;

}
.egubbe{
  height: 15%;
top:55%;
left:65%;
}

.indexgubbe{
  height: 15%;
top:15%;
left:2%;
}
.indexgubbe1{
  height: 10%;
top:10%;
left:5%;
}
.indexgubbe2{
  height: 15%;
top:15%;
left:92%;
}
.indexgubbe3{
  height: 15%;
top:25%;
left:2%;
}

.b1{
  height: 15%;
top:30%;
left:18%;
display: none;cursor: pointer;
}
.b2{
  height: 15%;
top:40%;
left:36%;
display: none;cursor: pointer;
}
.b3{
  height: 15%;
top:17%;
left:52%;
display: none;cursor: pointer;
}
.b4{
  height: 15%;
top:42%;
left:68%;
display: none;cursor: pointer;
}

.b5{
  height: 15%;
top:3%;
left:82%;
cursor: pointer;
}
.b6{
  height: 15%;
top:3%;
left:6%;
cursor: pointer;
}
.b7{
  height: 15%;
top:23%;
left:6%;
cursor: pointer;
}
.bback{
  height: 8%;
top:3%;
left:1%;
cursor: pointer;
}
.bcomment{
  height: 14%;
top:0%;
left:31%;
cursor: pointer;
}
.indexgubbecomment{
  height: 10%;
top:10%;
left:30%;
}


.bpeople{
  height: 18%;
top:48%;
left:5%;
cursor: pointer;
}
.indexgubbepeople{
  height: 16%;
top:58%;
left:3%;
}



#gubbe10{
  display: none;
}


.adress{
  font-size: 1.5rem;
  font-family: courier_newregular;
  color: blue;
  z-index: 100;
  position: fixed;
  top: 15vh;
  left: 5vw;
}

.caption{
  font-family: courier_newregular;
  font-size: .7rem;
  color: black;
  top: 0;
  float: right;
  width: 45%;
  text-align: left;
  margin-right: 12%;

}
a{color: black;}
.ul{
  font-family: courier_newregular;
  font-size: 1rem;
  color: black;
top: 25vh;
 float: right;
  text-align: left;
  margin-left: 2%;
  position: absolute;

}
.abouttext{
  font-family: courier_newregular;
  font-size: .9rem;
  color: black;
  top: 0;
  float: left;
  width: 45%;
  text-align: left;
  margin-left: 5%;

}

.img1{
  top: 5vh;
  bottom: 23vh;
  right: 2vw;

  border: 5px solid red;
  position: absolute;
  z-index: 50;
  height: 69vh;
  pointer-events: none;
  box-shadow: 3px 3px 20px rgba(255,0,0,.3);

}


.stockholmbox{
  width: 25vw;
  position: absolute;
  left: 70vw;
  top: 17vh;
}

.simage1{
  width: 40%;
  margin-bottom: 30px;
  border: 1px solid black;
}
.gbgbox{
  width: 25vw;
  position: absolute;
  left: 40vw;
  top: 17vh;
}

.malmobox{
  width: 25vw;
  position: absolute;
  left: 10vw;
  top: 17vh;
}
.city{
  font-family: courier_newbold;
  font-size: 1.5rem;
  margin-bottom: 5px;
  text-decoration: underline;
}


.header{
  z-index: 50;
  font-family: courier_newbold;
  font-size: 1.5rem;
  position: fixed;
  top: 150px;
  left: 50px;
  width: 30vw;
  line-height: 40px;
}
